.d-flex {
    display: flex !important;
  }

.mb {
    margin-bottom: 16px;
  }

.pg-t{
   margin-top: 70px; 
}

.mr-8{
    margin-right: 8px;
}

.mr-16{
    margin-right: 16px;
}

.s-b{
    justify-content: space-between;
}